*.pyc
sle_data/
*nohup.*
*.swp
sle.pkl*
external_test.pkl*
results/*labels.txt
results/*p_values.txt
results/fold*.out
sle.bows_full.pkl.gz
results/*external*
results/30times*
.ipynb*
.idea*
golddata*
gold_lab*
results_run*
